In [4]:
%run src/payments.py

In [2]:
filepath = 'data/PMTHIST_INVESTOR_201808.csv'
payments = get_cleaned_payment_history_data(filepath)
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37323067 entries, 0 to 37323066
Data columns (total 5 columns):
LOAN_ID                      int64
RECEIVED_D                   datetime64[ns]
RECEIVED_AMT_INVESTORS       float32
PBAL_END_PERIOD_INVESTORS    float32
defaulted                    uint8
dtypes: datetime64[ns](1), float32(2), int64(1), uint8(1)
memory usage: 889.9 MB

In [3]:
payments.head()

,LOAN_ID,RECEIVED_D,RECEIVED_AMT_INVESTORS,PBAL_END_PERIOD_INVESTORS,defaulted
0,54734,2009-09-01,632.770996,18636.410156,0
1,54734,2009-10-01,632.770996,18188.363281,0
2,54734,2009-11-01,632.770996,17735.876953,0
3,54734,2009-12-01,632.770996,17278.906250,0
4,54734,2010-01-01,632.770996,16817.404297,0

In [34]:
payments[(payments['RECEIVED_D'].dt.year == 2008) & (payments['RECEIVED_D'].dt.month == 8)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1735 entries, 50 to 60837
Data columns (total 5 columns):
LOAN_ID                      1735 non-null int64
RECEIVED_D                   1735 non-null datetime64[ns]
RECEIVED_AMT_INVESTORS       1735 non-null float32
PBAL_END_PERIOD_INVESTORS    1735 non-null float32
defaulted                    1735 non-null uint8
dtypes: datetime64[ns](1), float32(2), int64(1), uint8(1)
memory usage: 55.9 KB

In [36]:
import datetime
from dateutil.relativedelta import relativedelta
current_date = datetime.date(2008,7,1)

In [37]:
add_one_month = relativedelta(months=1)

In [48]:
type(current_date)

datetime.date

In [50]:
payments.to_pickle('data/cleaned_payments_data', compression='bz2')

In [46]:
def get_payments_for_date(payments_df, date):
    return payments_df[(payments_df['RECEIVED_D'].dt.year == date.year) & (payments_df['RECEIVED_D'].dt.month == date.month)]

In [49]:
get_payments_for_date(payments, datetime.date(2018,7,1))

,LOAN_ID,RECEIVED_D,RECEIVED_AMT_INVESTORS,PBAL_END_PERIOD_INVESTORS,defaulted
154,56705,2018-07-01,354.890015,1674.214111,0
600,66128,2018-07-01,505.600006,9445.983398,0
42239,288279,2018-07-01,413.880005,11830.328125,0
45983,302598,2018-07-01,373.869995,8406.235352,0
61351,352554,2018-07-01,475.570007,14156.296875,0
74889,364688,2018-07-01,470.149994,12738.989258,0
75656,365090,2018-07-01,977.859985,0.000000,0
80523,369187,2018-07-01,136.699997,269.075775,0
86973,373955,2018-07-01,300.000000,1882.270630,0
93160,378843,2018-07-01,380.559998,5835.539062,0
104361,386228,2018-07-01,903.690002,6807.130859,0
116770,396593,2018-07-01,583.719971,10544.993164,0
120430,401243,2018-07-01,794.880005,11237.833984,0
120915,401654,2018-07-01,289.209991,8453.133789,0
355709,530212,2018-07-01,775.719971,10744.768555,0
401682,550862,2018-07-01,488.220001,0.000000,0
414180,556854,2018-07-01,644.669983,21681.843750,0
423095,560678,2018-07-01,408.220001,3104.151855,0
429612,563709,2018-07-01,893.539978,16601.056641,0
440344,568842,2018-07-01,342.850006,9912.253906,0
445670,571359,2018-07-01,690.150024,20802.000000,0
446402,571610,2018-07-01,423.549988,9704.905273,0
455328,575604,2018-07-01,392.910004,11230.317383,0
455666,575740,2018-07-01,217.380005,3955.812988,0
462977,579321,2018-07-01,650.330017,1287.337646,0
466054,580767,2018-07-01,540.960022,10878.764648,0
468496,582020,2018-07-01,1299.910034,14747.541992,0
469141,582309,2018-07-01,564.570007,4836.001465,0
482743,588147,2018-07-01,391.279999,8708.162109,0
483219,588488,2018-07-01,562.330017,7290.101562,0
...,...,...,...,...,...
37322648,135974834,2018-07-01,10.000000,4990.000000,0
37322657,135975354,2018-07-01,50.000000,14950.000000,0
37322663,135975486,2018-07-01,313.019989,10728.951172,0
37322673,135975982,2018-07-01,133.550003,4391.597656,0
37322684,135976353,2018-07-01,1000.000000,5000.000000,0
37322693,135987405,2018-07-01,1000.000000,24000.000000,0
37322694,135987405,2018-07-01,719.700012,23379.953125,0
37322704,135988228,2018-07-01,472.230011,21794.826172,0
37322731,135991420,2018-07-01,162.100006,5361.899902,0
37322734,135991660,2018-07-01,6022.890137,0.000000,0
37322769,135993734,2018-07-01,233.009995,7819.992188,0
37322786,135994732,2018-07-01,130.000000,21870.000000,0
37322804,135996133,2018-07-01,451.000000,15602.048828,0
37322813,135996903,2018-07-01,336.029999,16627.560547,0
37322814,135996960,2018-07-01,150.000000,7050.000000,0
37322828,135997864,2018-07-01,100.000000,7900.000000,0
37322837,135998538,2018-07-01,290.790009,9743.134766,0
37322838,135998540,2018-07-01,200.000000,11800.000000,0
37322858,136010160,2018-07-01,86.650002,2934.003418,0
37322873,136011407,2018-07-01,150.000000,15850.000000,0
37322884,136011822,2018-07-01,10000.000000,1000.000000,0
37322893,136012600,2018-07-01,320.709991,9679.290039,0
37322911,136013923,2018-07-01,800.000000,5200.000000,0
37322913,136014073,2018-07-01,801.280029,27290.195312,0
37322971,136019639,2018-07-01,310.160004,15414.345703,0
37322986,136021243,2018-07-01,568.909973,19492.990234,0
37323011,136037619,2018-07-01,100.000000,6450.000000,0
37323012,136038289,2018-07-01,66.550003,2194.560059,0
37323018,136040962,2018-07-01,186.460007,9869.422852,0
37323030,136043017,2018-07-01,50.000000,14950.000000,0

In [53]:
test = pd.read_pickle('data/cleaned_payments_data', compression='bz2')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37323067 entries, 0 to 37323066
Data columns (total 5 columns):
LOAN_ID                      int64
RECEIVED_D                   datetime64[ns]
RECEIVED_AMT_INVESTORS       float32
PBAL_END_PERIOD_INVESTORS    float32
defaulted                    uint8
dtypes: datetime64[ns](1), float32(2), int64(1), uint8(1)
memory usage: 889.9 MB