In [1]:
%run src/columns.py

In [3]:
from src.data_cleaning import *

In [4]:
csv_file_names = ('LoanStats3a_securev1.csv', 'LoanStats3b_securev1.csv', 'LoanStats3c_securev1.csv', 'LoanStats3d_securev1.csv',
                  'LoanStats_securev1_2016Q1.csv', 'LoanStats_securev1_2016Q2.csv', 'LoanStats_securev1_2016Q3.csv','LoanStats_securev1_2016Q4.csv', 
                  'LoanStats_securev1_2017Q1.csv', 'LoanStats_securev1_2017Q2.csv', 'LoanStats_securev1_2017Q3.csv', 'LoanStats_securev1_2017Q4.csv',
                  'LoanStats_securev1_2018Q1.csv', 'LoanStats_securev1_2018Q2.csv', 'LoanStats_securev1_2018Q3.csv', 'LoanStats_securev1_2018Q4.csv',
                  'LoanStats_securev1_2019Q1.csv', 'LoanStats_securev1_2019Q2.csv', 'LoanStats_securev1_2019Q3.csv', 'LoanStats_securev1_2019Q4.csv',
                  'LoanStats_securev1_2020Q1.csv')

df_raw = load_loan_data_from_local_machine(csv_file_names, columns_to_use)

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2880954 entries, 0 to 105046
Data columns (total 89 columns):
 #   Column                          Dtype
---  ------                          -----
 0   id                              object
 1   loan_amnt                       float64
 2   term                            object
 3   int_rate                        object
 4   installment                     float64
 5   grade                           object
 6   emp_length                      object
 7   home_ownership                  object
 8   annual_inc                      float64
 9   verification_status             object
 10  issue_d                         object
 11  loan_status                     object
 12  purpose                         object
 13  zip_code                        object
 14  addr_state                      object
 15  dti                             float64
 16  delinq_2yrs                     float64
 17  earliest_cr_line                object
 18  fico_range_low                  float64
 19  fico_range_high                 float64
 20  inq_last_6mths                  float64
 21  mths_since_last_delinq          float64
 22  mths_since_last_record          float64
 23  open_acc                        float64
 24  pub_rec                         float64
 25  revol_bal                       float64
 26  revol_util                      object
 27  total_acc                       float64
 28  total_pymnt_inv                 float64
 29  total_rec_prncp                 float64
 30  total_rec_int                   float64
 31  last_pymnt_d                    object
 32  collections_12_mths_ex_med      float64
 33  mths_since_last_major_derog     float64
 34  application_type                object
 35  acc_now_delinq                  float64
 36  tot_coll_amt                    float64
 37  tot_cur_bal                     float64
 38  open_acc_6m                     float64
 39  open_il_12m                     float64
 40  open_il_24m                     float64
 41  mths_since_rcnt_il              float64
 42  total_bal_il                    float64
 43  il_util                         float64
 44  open_rv_12m                     float64
 45  open_rv_24m                     float64
 46  max_bal_bc                      float64
 47  all_util                        float64
 48  total_rev_hi_lim                float64
 49  inq_fi                          float64
 50  total_cu_tl                     float64
 51  inq_last_12m                    float64
 52  acc_open_past_24mths            float64
 53  avg_cur_bal                     float64
 54  bc_open_to_buy                  float64
 55  bc_util                         float64
 56  chargeoff_within_12_mths        float64
 57  delinq_amnt                     float64
 58  mo_sin_old_il_acct              float64
 59  mo_sin_old_rev_tl_op            float64
 60  mo_sin_rcnt_rev_tl_op           float64
 61  mo_sin_rcnt_tl                  float64
 62  mort_acc                        float64
 63  mths_since_recent_bc            float64
 64  mths_since_recent_bc_dlq        float64
 65  mths_since_recent_inq           float64
 66  mths_since_recent_revol_delinq  float64
 67  num_accts_ever_120_pd           float64
 68  num_actv_bc_tl                  float64
 69  num_actv_rev_tl                 float64
 70  num_bc_sats                     float64
 71  num_bc_tl                       float64
 72  num_il_tl                       float64
 73  num_op_rev_tl                   float64
 74  num_rev_accts                   float64
 75  num_rev_tl_bal_gt_0             float64
 76  num_sats                        float64
 77  num_tl_120dpd_2m                float64
 78  num_tl_30dpd                    float64
 79  num_tl_90g_dpd_24m              float64
 80  num_tl_op_past_12m              float64
 81  pct_tl_nvr_dlq                  float64
 82  percent_bc_gt_75                float64
 83  pub_rec_bankruptcies            float64
 84  tax_liens                       float64
 85  tot_hi_cred_lim                 float64
 86  total_bal_ex_mort               float64
 87  total_bc_limit                  float64
 88  total_il_high_credit_limit      float64
dtypes: float64(73), object(16)
memory usage: 1.9+ GB

In [6]:
def clean_and_prepare_raw_data_for_EDA(df):
    '''
    Take in the raw dataframe containing all loan data and run through all functions required to prepare it for model training.

    Args:
        df (dataframe): Dataframe of loans.

    Returns:
        Dataframe: Returns the loan dataframe after all the data cleaning and feature engineering functions have been applied.

    TODO:
        This function currently relies on functions stored in feature-engineering.py. This is acceptable for working in the
        Jupyter notebook I have but I need to change the organization of my code later on.
    '''
    df = drop_loan_status(df)
    df = drop_joint_applicant_loans(df)
    df = fix_rate_cols(df)
    df.dropna(subset=['issue_d'], inplace=True)
    df = fix_date_cols(df)
    df.sort_values(by='issue_d', inplace=True)
    df = exclude_loans_before_2010(df)
    df = clean_loan_term_col(df)
    df = only_include_36_month_loans(df)
    df = clean_employment_length(df)
    # I doubt we need missing data boolean columns for tree models.\
    #df = add_issue_date_and_month(df) # Ditch this?
    #df = add_supplemental_rate_data(df)
    #df = create_rate_difference_cols(df)
    df = create_months_since_earliest_cl_col(df)
    #df = create_loan_life_months_col(df)
    df = change_data_types(df)
    #df = create_dummy_cols(df)
    df = drop_unnecessary_cols(df)
    df.set_index('id', inplace=True)

    return df

In [7]:
df_EDA = clean_and_prepare_raw_data_for_EDA(df_raw)
df_EDA.head()

,loan_amnt,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,purpose,...,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,mths_since_earliest_cr
id,,,,,,,,,,,,,,,,,,,,,
477567,10000.0,14.61,344.760010,D,5.0,MORTGAGE,62400.0,Not Verified,2010-01-01,educational,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,162
477585,15000.0,16.00,527.359985,D,7.0,RENT,96000.0,Not Verified,2010-01-01,debt_consolidation,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,134
474990,20000.0,11.83,662.679993,B,5.0,MORTGAGE,105000.0,Not Verified,2010-01-01,debt_consolidation,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,180
477531,15000.0,15.31,522.229980,D,10.0,MORTGAGE,90000.0,Not Verified,2010-01-01,debt_consolidation,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,183
477639,5600.0,13.22,189.289993,C,8.0,RENT,75797.0,Not Verified,2010-01-01,other,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,150

In [9]:
df_EDA.to_pickle('df_EDA.pkl.bz2', compression='bz2')

In [11]:
df_Test = pd.read_pickle('df_EDA.pkl.bz2', compression='bz2')
df_Test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1886735 entries, 477567 to 167717983
Data columns (total 80 columns):
 #   Column                          Dtype
---  ------                          -----
 0   loan_amnt                       float32
 1   int_rate                        float32
 2   installment                     float32
 3   grade                           category
 4   emp_length                      float32
 5   home_ownership                  category
 6   annual_inc                      float32
 7   verification_status             category
 8   issue_d                         datetime64[ns]
 9   purpose                         category
 10  addr_state                      category
 11  dti                             float32
 12  delinq_2yrs                     uint8
 13  fico_range_low                  float32
 14  fico_range_high                 float32
 15  inq_last_6mths                  uint8
 16  mths_since_last_delinq          float32
 17  mths_since_last_record          float32
 18  open_acc                        uint8
 19  pub_rec                         uint8
 20  revol_bal                       float32
 21  revol_util                      float32
 22  total_acc                       uint8
 23  collections_12_mths_ex_med      uint8
 24  mths_since_last_major_derog     float32
 25  acc_now_delinq                  uint8
 26  tot_coll_amt                    float32
 27  tot_cur_bal                     float32
 28  open_acc_6m                     float32
 29  open_il_12m                     float32
 30  open_il_24m                     float32
 31  mths_since_rcnt_il              float32
 32  total_bal_il                    float32
 33  il_util                         float32
 34  open_rv_12m                     float32
 35  open_rv_24m                     float32
 36  max_bal_bc                      float32
 37  all_util                        float32
 38  total_rev_hi_lim                float32
 39  inq_fi                          float32
 40  total_cu_tl                     float32
 41  inq_last_12m                    float32
 42  acc_open_past_24mths            float32
 43  avg_cur_bal                     float32
 44  bc_open_to_buy                  float32
 45  bc_util                         float32
 46  chargeoff_within_12_mths        uint8
 47  delinq_amnt                     float32
 48  mo_sin_old_il_acct              float32
 49  mo_sin_old_rev_tl_op            float32
 50  mo_sin_rcnt_rev_tl_op           float32
 51  mo_sin_rcnt_tl                  float32
 52  mort_acc                        float32
 53  mths_since_recent_bc            float32
 54  mths_since_recent_bc_dlq        float32
 55  mths_since_recent_inq           float32
 56  mths_since_recent_revol_delinq  float32
 57  num_accts_ever_120_pd           float32
 58  num_actv_bc_tl                  float32
 59  num_actv_rev_tl                 float32
 60  num_bc_sats                     float32
 61  num_bc_tl                       float32
 62  num_il_tl                       float32
 63  num_op_rev_tl                   float32
 64  num_rev_accts                   float32
 65  num_rev_tl_bal_gt_0             float32
 66  num_sats                        float32
 67  num_tl_120dpd_2m                float32
 68  num_tl_30dpd                    float32
 69  num_tl_90g_dpd_24m              float32
 70  num_tl_op_past_12m              float32
 71  pct_tl_nvr_dlq                  float32
 72  percent_bc_gt_75                float32
 73  pub_rec_bankruptcies            uint8
 74  tax_liens                       uint8
 75  tot_hi_cred_lim                 float32
 76  total_bal_ex_mort               float32
 77  total_bc_limit                  float32
 78  total_il_high_credit_limit      float32
 79  mths_since_earliest_cr          int32
dtypes: category(5), datetime64[ns](1), float32(63), int32(1), uint8(10)
memory usage: 516.4+ MB