In [1]:
import pandas as pd

In [4]:
payment_cols = ('LOAN_ID', 'IssuedDate', 'RECEIVED_D', 'RECEIVED_AMT_INVESTORS', 'PBAL_END_PERIOD_INVESTORS')
df_payments_1 = pd.read_csv('data/Payments_Made_to_Investors_File1of2_2020_08.csv', low_memory=False,  nrows=None, usecols=payment_cols)
df_payments_1.head()

,LOAN_ID,RECEIVED_D,RECEIVED_AMT_INVESTORS,PBAL_END_PERIOD_INVESTORS,IssuedDate
0,54734,SEP2009,632.771017,18636.409300,AUG2009
1,54734,OCT2009,632.771017,18188.363925,AUG2009
2,54734,NOV2009,632.771017,17735.877487,AUG2009
3,54734,DEC2009,632.771017,17278.905966,AUG2009
4,54734,JAN2010,632.771017,16817.404904,AUG2009

In [5]:
df_payments_2 = pd.read_csv('data/Payments_Made_to_Investors_File2of2_2020_08.csv', low_memory=False, skiprows=1, header=None, nrows=None, usecols=[0, 1, 11, 12, 16])
df_payments_2.head()

         0        1      11          12       16
0  90721450  JUN2018  37.94  571.313680  OCT2016
1  90721450  JUL2018  37.94  537.463334  OCT2016
2  90721450  AUG2018  37.94  503.370676  OCT2016
3  90721450  SEP2018  37.94  469.033971  OCT2016
4  90721450  OCT2018  37.94  434.451472  OCT2016

In [6]:
df_payments_2.columns = df_payments_1.columns
df_combined = pd.concat([df_payments_1, df_payments_2])

In [7]:
df_combined.head()

,LOAN_ID,RECEIVED_D,RECEIVED_AMT_INVESTORS,PBAL_END_PERIOD_INVESTORS,IssuedDate
0,54734,SEP2009,632.771017,18636.409300,AUG2009
1,54734,OCT2009,632.771017,18188.363925,AUG2009
2,54734,NOV2009,632.771017,17735.877487,AUG2009
3,54734,DEC2009,632.771017,17278.905966,AUG2009
4,54734,JAN2010,632.771017,16817.404904,AUG2009

In [8]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61820100 entries, 0 to 28703915
Data columns (total 5 columns):
 #   Column                     Dtype
---  ------                     -----
 0   LOAN_ID                    int64
 1   RECEIVED_D                 object
 2   RECEIVED_AMT_INVESTORS     float64
 3   PBAL_END_PERIOD_INVESTORS  float64
 4   IssuedDate                 object
dtypes: float64(2), int64(1), object(2)
memory usage: 2.8+ GB

In [2]:
df = pd.read_pickle('data/df_payments_cleaned_training.pkl.bz2', compression='bz2')

In [3]:
df.to_pickle('data/df_payments_training_loans.pkl.bz2', compression='bz2', protocol=4)